<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"karu-main karu-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull karu-main karu-section"><!-- wp:post-title {"level":1,"className":"karu-page-title"} /-->

<!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
